

@media only screen and(max-width:1030px){
    .contenido-mio{
        width: 60%;
    }
    .nav2{
        display: none;
    }
}

@media only screen and (max-width:986px){
    .presentacion{
        background-size: 100% 100%;
    }
    .box{
        width: 31%;
    }
}
@media only screen and(max-width:840px){
    .presentacion{
        background-size: 100% 100%;
    }
    .box{
        width: 25%;
    }
    .sobremi{
        flex-direction: column;
        height: auto;
    }
    .contenido-mio{
        margin-bottom: 40px;
    }
}

@media(max-width:774px){
    .presentacion{
        background-size: 100% 100%;
    }
    .box{
        width: 40%;
        margin-left:5px;
        height: 300px;
    }
}
@media only screen and (max-width:690px){
    .presentacion{
        background-size: 100% 100%;
    }
    .servicios{
        height: auto;
    }
    .boxs{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 60%;
        height: auto;
        margin-bottom: 40px;
    }
    .box h3{
        font-size: 30px;
        line-height: 70px;
       
    }
    .list-skills > li >img{
        width: 100px;
    }
    .box-redes{
        height: 250px;
    }
    .box-redes >a>img{
        width: 100px;
        height: 100px;
        
    }
}

@media only screen and (max-width:609px){
    .hgroup{
        width: 100%;
    }
    .hgroup h1{
        line-height: 50px
    }
    .box h3{
        font-size: 25px;
        line-height: 70px;   
    }
    .list-skills > li >img{
        width: 80px;
        height: 80px;
    }
    .box-redes >a>img{
        width: 80px;
        height: 80px;
        
    }
}
@media only screen and (max-width:487px){
    .presentacion{
        height: auto;
    }
    .icono{
        padding-left: 30px;
        width: 37%;
    }
    .box{
        width: 70%;
    }
    .skills{
        height: auto;
    }
    .list-skills {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .list-skills > li > img{
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
        
    }
    .redes{
        height: auto;
    }
    .box-redes{
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
    }
    .box{
        width: 85%;
    }
    .contenido-mio{
        width: 80%;
    }
    .contenido-mio p{
        width: 90%;
    }
}
@media only screen and (width:420px) and (width:375px){
    .header{
        height: 100px;
    }
    .nav{
        display: none;
    }
    .hgroup{
        margin-top: 30px;
    }
    
    .nav2{
        display: block;
        order: 1;
    }
    .icono{
        order: 2;
    }
    .icono-menu{
        margin: 40px 50px;
        position: relative;
        z-index: 10;
    }
    .icono-menu img{
        vertical-align: top;
        width: 40px;
        cursor: pointer;
    }
    .cont-menu{
        background-color: #005f73;
        box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
        width: 400px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .5s ease;
        opacity: 90%;

    }
    .cont-menu ul{
        padding: 100px 0px 20px 0px;
       list-style: none; 
    }
    .cont-menu ul li{
        color: white;
        display: block;
        font-size: 25px;
        text-decoration: none;
        padding: 10px 50px;
        cursor: pointer;
    }
    .cont-menu ul li:hover{
        background-color: rgb(228, 228, 228);
        color: rgb(42, 42, 42);

    }
    .active{
        transform: translate(-600px);
    }
    .opacity{
        background-color: all.5s ease;
    }
    .icono{
        height: 100px;
    }
}

